<%- include('partials/header'); -%>
    <div class="container content">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/ikigai___bi_mat_song_truong_tho_va_hanh_phuc_cua_nguoi_nhat/2021_07_29_11_36_40_1-390x510.jpg" class="card-img-top card-img-book" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/ikigai___bi_mat_song_truong_tho_va_hanh_phuc_cua_nguoi_nhat/2021_07_29_11_36_40_1-390x510.jpg" class="card-img-top card-img-book" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/ikigai___bi_mat_song_truong_tho_va_hanh_phuc_cua_nguoi_nhat/2021_07_29_11_36_40_1-390x510.jpg" class="card-img-top card-img-book" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/ikigai___bi_mat_song_truong_tho_va_hanh_phuc_cua_nguoi_nhat/2021_07_29_11_36_40_1-390x510.jpg" class="card-img-top card-img-book" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>